body {
  margin: 10px;
  font-family: Tahoma, sans-serif;
  font-size: 40px;
}

.boxes {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.box {
  box-sizing: border-box;
  width: 110px;
  height: 150px;
  flex-shrink: 0;
  padding: 10px;
  line-height: 40px;
  border-left: 10px dotted #D0D0FF;
  background-color: #eeeff2;
}

.box:last-child {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.box:hover {
  cursor: pointer;
  background-color: yellow;
  color: goldenrod;
}
